<template>
    <main class="pb-32 h-full flex flex-col justify-center items-center">
        <img class="w-32 h-32 sm:w-48 sm:h-48" src="@/assets/logo.png">

        <h1 class="mt-10 text-3xl sm:text-5xl font-bold">
            Too Long; Didn't Read
        </h1>

        <a class="mt-10 mx-5 p-5 bg-yellow-100 border-4 border-yellow-300 text-2xl font-medium text-center rounded-xl" href="https://www.reddit.com/r/btc/comments/qjwoz4/too_long_didnt_read">
            Open The Reddit Announcement
        </a>
    </main>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
    components: {
        // HelloWorld,
    }
}
</script>
